# pnpm
/home/.local/state/pnpm/*
!/home/.local/state/pnpm/global
/home/.local/state/pnpm/global/*
!/home/.local/state/pnpm/global/5
/home/.local/state/pnpm/global/5/*
!/home/.local/state/pnpm/global/5/package.json

# python
__pycache__

# ssh
/home/.ssh/**/id_*
/home/.ssh/**/known_hosts*

# tmux
/home/.config/tmux/plugins
