[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[init]
	defaultBranch = main

[user]
	name = zenekron
	email = zenekron@gmail.com

[include]
	path = ~/.config/delta.gitconfig

; catppuccin/delta
; https://github.com/catppuccin/delta
[include]
	path = ~/.dotfiles/modules/catppuccin/delta/catppuccin.gitconfig

[delta]
	features = catppuccin-frappe
