* {
	border: none;
	border-radius: 0;

	min-height: 0;
}

window#waybar {
	font-family: JetBrains Mono;
	font-size: 12px;

	color: #d8dee9; /* nord4 */
	background-color: #2e3440; /* nord0 */
}

widget > * {
	margin: 0 4px;
	padding: 0 10px;
}
#workspaces {
	margin-left: 0;
}
#tray {
	margin-right: 0;
}

/*
 * CLOCK
 */

#clock {
}

/*
 * CPU
 */

#cpu {
	background-color: #a3be8c;
	color: #2e3440;
}

#cpu.state-warning {
	background-color: #ebcb8b;
}

#cpu.state-dangerous {
	background-color: #d08770;
}

#cpu.state-critical {
	background-color: #bf616a;
}

/*
 * MEMORY
 */

#memory {
	background-color: #a3be8c;
	color: #2e3440;
}

#memory.state-warning {
	background-color: #ebcb8b;
}

#memory.state-dangerous {
	background-color: #d08770;
}

#memory.state-critical {
	background-color: #bf616a;
}

/*
 * NETWORK
 */

#network {
	background-color: #434c5e;
}

#network.disabled {
	background-color: #434c5e;
}

#network.disconnected {
	background-color: #bf616a;
}

#network.linked {
	background-color: #d08770;
}

#network.ethernet {
	background-color: #a3be8c;
	color: #2e3440;
}

#network.wifi {
	background-color: #a3be8c;
	color: #2e3440;
}

/*
 * SWAY
 * https://github.com/Alexays/Waybar/wiki/Module:-Sway#mode
 * https://github.com/Alexays/Waybar/wiki/Module:-Sway#workspaces
 */

#mode {
	background-color: #d08770; /* nord12 */
	font-style: italic;
}

#workspaces {
	padding: 0;
}

#workspaces button {
	color: #d8dee9; /* nord4 */
	background-color: #3b4252; /* nord1 */
}
#workspaces button:hover {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button.visible {
	background-color: #4c566a; /* nord3 */
}

#workspaces button.focused {
	background-color: #5e81ac; /* nord10 */
}

#workspaces button.urgent {
	background-color: #bf616a; /* nord11 */
}

#workspaces button.persistent {
}

#workspaces button.current_output {
}

/*
 * TRAY
 */

#tray {
	background-color: #4c566a;
}

#tray menu {
}

#tray > .passive {
}

#tray > .active {
}

#tray > .needs-attention {
}
